@import "./colorVariables.css";

section.landing p {
  font-size: 1em;
  margin-bottom: 2rem;
}

article {
  color: #fff;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

article h2 {
  display: block;
  margin-top: -2rem;
}

article h3 {
  text-align: center;
}

.minthalf {
  width: 50%;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: var(--base-color-text);
  border-radius: 15px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.12);
}

.halfnhalf {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

section article ul #center {
  align-content: center;
}

section article ul .comp {
  padding-bottom: 0.6rem;
}

section.landing {
  color: #fff;

  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
  font-size: 3em;
  text-align: center;
}

section.landing h2 {
  display: block;
  margin-top: -2rem;
}

section.landing h3 {
  text-align: center;
}

.light.landing {
  color: black;
}

.mint.landing {
  background-color: var(--base-color-text);
  /* margin-left: 4rem;
  margin-right: 4rem; */
  /* border-radius: 15px; */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.12);
}

@media all and (max-width: 493px) {
  section.landing p {
    font-size: 0.5em;
  }
}

.mint.landing.last {
  margin-bottom: -4rem;
}
