.credentialForm {
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  background: var(--mint);
  padding: 2rem;
  border-radius: 2rem;
  text-align: left;
}

.submitButton {
  height: 1.5rem;
  width: 50%;
  margin-top: 0.5rem;
  align-self: center;
  border-radius: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.credentialTitle {
  margin-left: 0;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  margin-top: -1rem;
  padding: 0.5rem;
  align-self: center;
  border-style: none;
  color: var(--off-white);
}

.credentialInput {
  width: 100%;
  margin-bottom: 0.5rem;
}

@media all and (max-width: 709px) {
  .loginPage {
    flex-direction: column;
    align-items: center;
  }
  .loginForm {
    margin: 1rem;
    min-width: 12rem;
    max-width: 16rem;
  }
  .signupForm {
    margin: 1rem;
    min-width: 12rem;
    max-width: 16rem;
  }
}
