/*Custom CSS*/
:root {
  font-size: 18px;
  line-height: 1.5 em;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Comfortaa', cursive;
}

body {
  background-image: url(../assets/img/trinityBackgroundWhite.png);
}

html,
body {
  margin: 0;
}

h2 {
  margin: 0;
  height: 1rem;
  padding: 1rem;
  color: #fff;
  line-height: 1rem;
  display: block;
  text-align: center;
}

h1,
h2,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 15px 15px 0px 0px;
  font-size: 26px;
}

.bold {
  font-size: 1.1em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px rgb(198, 240, 226);
}
