.halfpics {
  background-color: var(--mint);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: flex-start;
}

.halfpics .resultCardAura {
  margin-left: 0;
  width: 4rem;
  text-align: center;
}

#title {
  font-weight: bold;
  padding-left: 0.6rem;
  /* width: 100%; */
  list-style: none;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 1rem;
}

.info {
  font-weight: normal;
  text-align: center;
  /* width: 100%; */
}

.role {
  font-weight: normal;
  padding-bottom: 2vh;
  margin-top: 10px;
}

.fav {
  font-weight: normal;
  padding-bottom: 2vh;
}

a {
  color: #fff;
}

.halfpics img {
  display: block;
  max-width: 400px;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
}

#grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 10rem);
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#devon {
  grid-column-start: span 2;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* @media all and (max-width: 493px) { */
@media all and (max-width: 910px) {
  #grid {
    display: grid;
    grid-column: 1;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 10rem);
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  #devon {
    grid-column-start: span 1;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #title {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
}

@media all and (max-width: 355px) {
  #title {
    font-size: 0.7rem;
  }
}
