@import url('https://fonts.googleapis.com/css?family=Comfortaa');

article {
  display: flex;
  flex-direction: column;
  text-align: center;

  /* margin-left: 15%;
  margin-right: 15%; */
}

.formHeader {
  font-family: Comfortaa;
  text-align: center;
  background-color: rgba(65, 150, 124, 0.85);
  padding: 2%;
  border-radius: 25px;
  border: solid black 1px;
}

select {
  height: 100px;
  width: 50%;
  border: solid black 2px;
  text-align: center;
}

input {
  height: 50px;
  width: 100px;
  border-radius: 15px;
  border: solid black 2px;
  align-self: center;
}

.forms {
  margin: 2rem;
}

article {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: url('https://images.pexels.com/photos/1307698/pexels-photo-1307698.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center / cover;
  position: relative;
  color: var(--off-black);
  font-family: 'Open Sans', sans-serif;
}

article::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(105, 102, 102, 0.6);
}

#search-form {
  position: absolute;
  /* !! */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
@media screen and (min-width: 853px) {
  #search-form.fixed {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2f2f2f;
    padding: 13px 0px;
    border-radius: 0px 0px px 0px;
  }
}

form {
  max-width: 100rem;
  margin: auto;
  display: flex;
}

/* very messy "grid" styles */

[class*='grid-'] {
  vertical-align: middle;
  height: 3.125rem;
  font-size: 1.4rem;
}

.grid-80 {
  width: 8rem;
}

/* button width */
.grid-100 {
  width: 6rem;
}

/* input and span styles*/

#search-form span {
  padding: 0 1rem;
  vertical-align: middle;
  line-height: 3.125rem;
  background: var(--off-black);
  text-align: center;
  font-weight: 300;
  color: var(--off-white);
}

input,
select {
  transition: box-shadow 0.2s ease-in-out;
  border: 0;
  padding: 0 0 0 0.2em;
}

.search-field:focus,
select:focus {
  outline: none;
  border: 0;
  box-shadow: inset 0 0 0 5px #ffc519;
}

/* select menu styles */

.cat-wrap {
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0;
}

/* triangle */

.cat-wrap::after {
  content: '\25BC';
  position: absolute;
  top: 0.9rem;
  right: 0.5em;
  color: #515151;
  font-size: 1.2rem;
  pointer-events: none;
}

select {
  background-color: var(--off-white);
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;
  appearance: none;
  border-radius: 0;
}

option {
  margin: 0.6em 0;
}

/* search button and icon styles */

.grid-100 {
  font-size: 1.1rem;
  border: 0;
  background: var(--dark-mint);
  color: var(--off-white);
  font-weight: 600;
  transition: background 0.25s ease-in-out;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grid-100:hover,
.grid-100:active {
  outline: 0;
  background: rgba(51, 116, 96, 0.85);
  color: var(--off-black);
}

#submitButtonContainer {
  margin: 0;
  padding: 0;
}

.grid-100:active {
  transform: translateY(1px);
}

#want {
  border-radius: 12px 0px 0px 12px;
}

.corner,
.middle {
  width: 8.9rem;
}

.city {
  width: 12.4rem;
}

@media screen and (max-width: 985px) {
  [class*='grid-'] {
    height: 3.125rem;
    font-size: 20px;
  }

  .grid-80 {
    width: 6rem;
  }

  .corner,
  .middle {
    width: 7.6rem;
  }
  .city {
    width: 10.3rem;
  }
}

@media screen and (max-width: 852px) {
  form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 30rem;
  }

  .grid-100 {
    width: 29.3vw;
    min-width: 9rem;
    border-radius: 5px;
  }

  [class*='grid-'] {
    height: 3.125rem;
    font-size: 1.1rem;
  }

  #want {
    width: 25.5vw;
  }

  #want {
    border-radius: 12px 0px 0px 0px;
  }

  .corner {
    border-radius: 0px 12px 0px 0px;
  }

  #submitButton {
    width: 24rem;
    border-radius: 0px 0px 12px 12px;
  }

  .cat-wrap select {
    width: 12rem;
    min-width: 9rem;
  }

  #search-form span {
    width: 10rem;
    min-width: 7rem;
  }

  #search-form {
    position: center;
    top: 50%;
    left: 57%;
  }
}

@media screen and (max-width: 485px) {
  form {
    width: 14rem;
  }

  .grid-100 {
    width: 29.3vw;
    min-width: 9rem;
    border-radius: 5px;
  }

  [class*='grid-'] {
    height: 3.125rem;
    font-size: 1.1rem;
  }

  #want {
    border-radius: 12px 12px 0px 0px;
  }

  .corner {
    border-radius: 0px;
  }

  #submitButton {
    width: 12rem;
    border-radius: 0px 0px 12px 12px;
  }

  .cat-wrap select {
    width: 12rem;
    min-width: 9rem;
  }

  #search-form span {
    width: 10rem;
    min-width: 7rem;
  }

  #search-form {
    position: center;
    top: 50%;
    left: 53%;
  }
}
