@import './palette.scss';

#searchResults {
  margin: 2rem 0rem;
}

#triangle {
  display: flex;
  justify-items: center;
  width: 100%;
}

#searchWrapper {
  display: none;
}

#searchWrapper.show {
  min-height: 100vh;
  height: 100%;
  display: block;
}

.loaderWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorpage {
  display: flex;
  justify-content: center;
  padding: 10rem;
}

.errorTitle {
  color: black;
  padding: 8rem 5rem 12rem 5rem;
  line-height: 2rem;
}

.loadMore {
  display: block;
  margin: 30px auto;
  font-size: 1rem;
  font-family: Comfortaa, script;
  color: var(--light-mint);
  background-color: var(--off-black);
  padding: 10px 30px;
  border-radius: 5px;
}

.loadMore:hover {
  color: var(--dark-mint);
}

.dotLoader {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 770px) {
  .errorTitle {
    font-size: 22px;
  }
}

@media all and (max-width: 530px) {
  .errorTitle {
    font-size: 18px;
    padding: 7rem 3rem 12rem 3rem;
  }
}

@media all and (max-width: 382px) {
  .errorTitle {
    font-size: 15px;
    padding: 6rem 2.5rem 12rem 2.5rem;
  }
}
