.resultCards {
  margin: 2rem 0rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}

.resultCard {
  width: 15rem;
  height: 15rem;
  box-shadow: 5px 5px var(--shadow);
  background-color: var(--mint);
}

.resultCardImageContainer {
  height: 10rem;
  overflow: hidden;
}

.resultCardImage {
  width: 100%;
}

.resultCardTitle {
  padding: 1rem 1rem 1rem 1rem;
  text-transform: uppercase;
}

.resultCardSubtitle {
  padding: 0rem 1rem 1rem 1rem;
}
