:root {
  --mint: #5abb9e;
  --light-mint: #c8f3e9;
  --off-white: #f0f8f6;
  --dark-mint: #41967c;
  --off-black: #272727;
  --shadow: rgba(0, 0, 0, 0.12);
  --test: rgba(0,0,0,.9);


  --inspired: #01b9ff;
  --romantic: #ff4949;
  --trendy: #5abb9e;
  --hipster: #c2b0ad;
  --intimate: purple;
  --cheerful: #f1bc50;
  --casual: #f38120;
  --classy: black;
  --touristy: pink;

}