:root {
  --mint: #5abb9e;
  --light-mint: #c8f3e9;
  --off-white: #f0f8f6;
  --dark-mint: #41967c;
  --off-black: #272727;
  --shadow: rgba(0, 0, 0, 0.12);
  --test: rgba(0,0,0,.9);


  --romantic: #ff4949;
  --trendy: #5abb9e;
  --casual: #f38120;
  --classy: black; 
  --touristy: pink;
  --imaginative: #02dbff;
  --lively: #f268ff;
  --intimate: #f32284;
  --exotic: #61c448;
  --groovy:#e5e249;
  --inspired:#89e87c;
  --upscale:#ea9409;
  --hipster:#c2b0ad;
  --cheerful:#f1bc50;
  --peaceful:#c4efff;
  --powerful:#bc1414;
  
}