#triangle {
  display: flex;
  justify-items: center;
  width: 100%;
}

.errorpage {
  display: flex;
  justify-content: center;
  padding: 10rem;
}

.errorTitle {
  color: black;
  padding: 8rem 5rem 12rem 5rem;
  line-height: 2rem;
}

@media all and (max-width: 770px) {
  .errorTitle {
    font-size: 18px;
  }
}
